<h1>Recipes</h1>
<ol>
    <% @recipe.each do |r| %>
        <li>
            <a href="/recipes/<%=r.id%>">Name: <%= r.name %></a>
            # Ingredients: <%= r.ingredients %>
            # Cook time: <%= r.cook_time %>
        </li>
        <% end %>
</ol>